{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
  </head>
  <body>
    <header>
      <div class="banner">
        <div class="navbar">
          <img src="{% static 'images/'%}mainLogo.png" class="logo" />
          <ul>
            <li>
              <a href="home.html"><b>Home</b></a>
            </li>
            <li>
              <a href="menWomen.html"><b>Products</b></a>
            </li>
            <li>
              <a href="about-us.html"><b>About</b></a>
            </li>
            <li>
              <a href="contactUs.html"><b>Contact us</b></a>
            </li>
          </ul>
        </div>
        <a href="Cart.html" id="cart"><i class="bx bx-cart"></i></a>
      </div>
    </header>
    <main>
      <div class="container-height">
        <h1>Welcome to your cart!</h1>
        <div id="cart-container">
          <table id="cart-table">
            <colgroup>
              <col span="1" style="width: 55%" />
              <col span="1" style="width: 25%" />
              <col span="1" style="width: 10%" />
              <col span="1" style="width: 10%" />
            </colgroup>
          </table>
        </div>
        <div>
          Total price: <span id="total"></span>
          <button
            id="checkout-button"
            onclick="document.location='checkout.html'"
          >
            Checkout
          </button>
        </div>
      </div>
    </main>
    <footer>
      <div>
        <div class="row">
          <div class="column">
            <h4>company</h4>
            <ul>
              <li><a>about us</a></li>
              <li><a>our services</a></li>
              <li><a>privacy policies</a></li>
              <li><a>affiliate program</a></li>
            </ul>
          </div>
          <div class="column">
            <h4>get help</h4>
            <ul>
              <li><a>FAQ</a></li>
              <li><a>shipping</a></li>
              <li><a>returns</a></li>
              <li><a>order status</a></li>
              <li><a>payment methods</a></li>
            </ul>
          </div>
          <div class="column">
            <h4>online shop</h4>
            <ul>
              <li><a>shirts</a></li>
              <li><a>T-shirts</a></li>
              <li><a>pants</a></li>
              <li><a>sneakers</a></li>
              <li><a>watches</a></li>
            </ul>
          </div>
          <div class="column">
            <h4>follow us</h4>
            <div class="social-links">
              <a href="https://www.facebook.com/rawanmoustafaaa?mibextid=ZbWKwL"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a
                href="https://www.instagram.com/abdallah__yehya?igsh=MTcydm0zaHE1OWYwcQ=="
                ><i class="fab fa-instagram"></i
              ></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script id="cart-data" type="application/javascript">
      var cartData = JSON.parse('{{ cart|escapejs }}');
    </script>
    <script src="{% static 'js/'%}cart.js "></script>
  </body>
</html>
