*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    overflow-y:auto ;
    line-height: 1.5;
    align-items: center;
    justify-content: center;
    background-color: #E8ECF1;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color:  #405D72;
    text-transform: uppercase;
}
.navbar ul li a:hover{
    color:#948979;
}
.logo{
    width: 170px;
    height: 140px;
    position: relative;
    left: -10%;
}
#cart{
    color: #405D72;
    text-decoration: none;
    position: absolute;
    right: 2.5%;
    top: 10%;
    font-size: 35px;
    border-radius: 30px;
    padding: 3px 12px;
}
#cart:hover{
    background-color: #948979;
    color:black;
}
.about-us p{
    padding: 40px;
    font-size: 25px;
    font-weight: 450;
    color: #6d5e47;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #134B70;
    margin-top: 20px;
}

.round_image{
    height: 30vh;
}

.review {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.review p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}
.review .quote {
    font-style: italic;
    color: #007BFF;
    font-size: 18px;
}
.review p:last-child {
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
}
footer{
    position: relative; /*rag3y de ya rawan lw fe moshkela*/
        height: 50vh;
        bottom: 0;
        padding: 70px 0;
        background-color: #4D869C;
        
    }
.container{
        max-width: 1170px;
        margin:auto;
    }
.row{
        display: flex;
        flex-wrap: wrap;
    }
ul{
        list-style: none;
    }
.column{
        width: 25%;
        padding: 0 15px;
    }
.column h4{
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    .column ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }
    .column ul li a:hover{
        color: #ffffff;
        padding-left: 8px;
    }
    .column .social-links a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin:0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }
    .column .social-links a:hover{
        color: #24262b;
        background-color:#ffffff;
    }